body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #495057;
}

#list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  min-height: 100px;
  min-width: 200px;
  padding: 20px;
  background: #f1f3f5;
  border-radius: 5px;
  overflow: auto;
}

li {
  width: 60%;
  cursor: pointer;
  padding: 8px;
}

li.selected {
  background-color: #3399ff;
  color: white;
  font-weight: bold;
}
