* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: #110633;
}

.leftBox,
.rightBox {
  height: 500px;
  width: 300px;
  border: 5px dashed #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.list {
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  background: #f03e3e;
  padding: 15px;
  text-align: center;
  cursor: pointer;
}
